version: "3.8"

services: 
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=redispassword
    depends_on:
      - redis
    command: > 
      sh -c "
      cd app && uvicorn main:app --host 0.0.0.0 --port 8000
      "


  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server --requirepass redispassword
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
    driver: local